.footer{
    background-color: $color-black;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-white;

    @include respond(tab-port){
        padding: 8rem 0;
    }

    &__logo-box{
        text-align: center;
    }

    &__logo {
        width: 15rem;
        height: auto;
    }
}

.outside-link{
    padding: 0 .24em;
    // color: $color-white;
}

.fab-footer{
    color: $color-white;
    font-size: 2em;
}

.fas-footer{
    color: $color-white;
    font-size: 2em;
}

