.footer{
    background-color: $color-black;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-white;

    &__logo-box{
        text-align: center;
    }

    &__logo {
        width: 15rem;
        height: auto;
    }
}

.fab{
    color: $color-white;
    font-size: 2em;
    padding: .5em;
}

.fas{
    color: $color-white;
    font-size: 2em;
}

