.header{
    // height: 95vh;
    // // background-image: linear-gradient(to right bottom,
    // //  rgba($color-primary-light, 0.8),
    // //  rgba($color-primary-dark, 0.8)),
    // //  url(../img/hero.jpg);
    // background-size: cover;
    // background-position: top;
    // position: relative;

    // clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo{
        height: 3.5rem;
    }

    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &--ul{
        position: fixed;
        top: 0;
        width: 100%;
        color: white;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $color-black;
        height: 32px;
        z-index: 5;

    }
    &--li{
        float: left;
        color: white;
    }

    li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        margin: -10px;
    }

    li a:hover{
        background-color: #111;
    }

}